{{!-- {{#if userFromDB }}
    <h3> Welcome to the app, {{ userFromDB.username }}</h3>

    {{else}}    

    <h3> No logged in user! </h3>
{{/if}} --}}

{{!-- this is after we started using session --}}

{{#if userInSession}}
    <h3>Welcome, {{ userInSession.username }}</h3>

    <button> <a href="/profile"> Reload! </a></button>

{{else}}

    <p> There is no one in the session! </p>

{{/if}}