<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Express Intro</title>
</head>
<body>
    <nav> 
        <a href="/"> HTML root page </a> <br>
        <a href="/home"> HTML home page </a> <br>
        <a href="/ironhack"> Ironhack home page </a> <br>
        <a href="/students"> Students list </a>
    </nav>
    
    <h1>Hello, you are on the HOME page!</h1>
    <p>This is the HTML that I am sending from an HTML file.</p>

    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>

    <a href="/">Back to root</a>
</body>
</html>