<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Intro 2</title>
</head>
<body>

    <nav> 
        <a href="/"> HTML root page </a> <br>
        <a href="/home"> HTML home page </a> <br>
        <a href="/ironhack"> Ironhack home page </a> <br>
        <a href="/students"> Students list </a>
    </nav>

    <h1> Ironhack Web Dev Bootcamp </h1>

    <img src="images/ih-logo.webp" alt="" width="300">

    <br>

    <a href="/">Back to root</a>
</body>
</html>