
<h2> Students list </h2>

{{> studentList }}

{{!-- render the name of the first student --}}

<p> The first student in the list is: {{ justStudentsNames.[0] }} </p>

{{!-- if you have an array of objects: --}}

{{!-- arrayName.0.propertyName --}}

