<h2> Creat a new book </h2>

<form action="/books/new" method="POST">
    <label>
        Title: <input type="text" name="title" />
    <label>

    <br>

    <label>
        Description: <textarea name="description" cols="30" rows="5"> </textarea>
    <label>

    <br>

     <label>
        Author: <input type="text" name="author" />
    <label>

    <br>

    <label>
        Rating: <input type="number" name="rating" min="1" max="10" />
    <label>

    <br>

    <button> Save </button>
</form>




{{!-- title: String,
    description: String,
    author: String,
    rating: Number --}}