<h2> These are the books we have in the database </h2>

<br>

<div> In the DB we have {{ numberOfBooks }} books. </div>

<hr>

{{#each allBooksFromDB}}

    <div>

        <h3> <a href="/books/{{_id}}"> {{ title }} </a></h3>

        <br>

        <form action="/books/{{_id}}/delete" method="POST"> 
            <button> 🗑 DELETE </button>
        </form>
    </div>

    <hr>

{{/each}}