<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <nav> 
        <a href="/"> HTML root page </a> <br>
        <a href="/home"> HTML home page </a> <br>
        <a href="/ironhack"> Ironhack home page </a> <br>
        <a href="/students"> Students list </a>
    </nav>

    {{!-- triple {{{}}} is a must  --}}
    {{!-- all the other HBS pages will be plugged in inside here --}}
    
    {{{ body }}}
</body>
</html>